# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
next-env.d.ts

# content collections
.content-collections/

# production
build/
dist/

# testing
coverage/
playwright-report/
test-results/
blob-report/

# env
.env
.env.local
.env.*.local

# vercel
.vercel/

# turbo
.turbo/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# typescript
*.tsbuildinfo
